<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.administrator.battleship" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".Start_Page"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Battleship"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Select_Ship_Positions"
            android:label="@string/title_activity_select__ship__positions"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".select_configs_TwoPlayer"
            android:label="@string/title_activity_select_configs__two_player"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".AI_Player_configs"
            android:label="@string/title_activity_ai__player_configs"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".select_ship_positions_2"
            android:label="@string/title_activity_select_ship_positions_2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".select_ship_positions_ai"
            android:label="@string/title_activity_select_ship_positions_ai"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".WinScreen"
            android:label="@string/title_activity_win_screen"
            android:screenOrientation="landscape">
        </activity>
    </application>


</manifest>
